/* Addon: Custom Header Logo */

#header .pagename a {padding:0;position:absolute;text-indent:-9999px;margin:0;top:-278px;background:url(%%logo%%);background-position:0 0;background-repeat:no-repeat;}
#header .pagename a:hover {background-color:transparent;}
    
/* Center Logo */
#header-bottom-left {width: calc( 100% - 32px);}
#header .pagename {width:100%;display:block;position:absolute;top:-278px;z-index: -1;}
.submit-page #header .pagename {top: -36px;}
#header .pagename a {position:relative;display:block;top:0;margin-left: auto;margin-right: auto;}
/* END CENTER */

#header .pagename a {
margin-top:    122px; /* Space from top */
left:          0;     /* Space from left */
width:         300px; /* Width of image */
height:        82px;  /* Half the height of your image */
}

#header .pagename a:hover {
background-position:0 -82px /* Half the height of your image */
}

/* End Addon */