/* Addon: Made thumbnails CSS customizable */

.thumbnail {width: 56px;}
.thumbnail > img {width: 100%; height: auto;}
.thumbnail.default, .thumbnail.self, .thumbnail.nsfw {height: 56px; width: 56px; background: rgba(0,0,0,.3) url(%%spritesheet%%); border-radius: 50%; margin-right: 20px;}
.thumbnail.self {background-position: -77px -80px;}
.thumbnail.default {background-position: -148px -80px;}
.thumbnail.nsfw {background-position: -6px -140px;}
.linkflair-mod .thumbnail.default, .linkflair-mod .thumbnail.self {background: #65B354 url(%%spritesheet%%) -7px -80px!important;}

.thumbnail.nsfw {background-color: #ea4876;} /* Color for NSFW thumbnails */
.thing.stickied .thumbnail {background-color: #65b354;} /* Color for Stickied thumbnail */

/* END ADDON */