/* Addon: Show submit text button */

.sidebox.submit.submit-text {display: block;}

/* This add-on is optimized for the custom header image add-on, if you don't have that installed, subtract 250 from each of the values below.  
If you have modified the header image add-on, you will need to add / subtract the SAME amount from the values below */

.side                                              {margin-top:    498px;}
.comments-page .side                               {margin-top:    610px;}
.search-page .side                                 {margin-top:    446px;}
.sidebox.submit.submit-text .morelink              {top:           446px;}
.search-page .sidebox.submit.submit-text .morelink {top:           394px;}
.comments-page .side .linkinfo                     {margin-top:    298px;}

.sidebox.submit.submit-text .morelink:after {
content: "Please remember to read the rules. Thank you!"; /* You can change the hover message for the submit-text button here */
}

/* END ADDON */